<style type="text/css" media="screen">
    label {
        margin-left: 10px;
    }
    #page-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
    body {
        background: none;
    }

    #fix_bar {
        margin: 25px 0;
    }

    .overflow_div {
        min-height: 125px;
    }

    .shop_banner {
        margin-top: 20px;
    }

</style>

<div *ngIf="current_store" style="background: #fafafa;">
    <section *ngIf="current_store.image_url" class="shop_banner" [ngStyle]="{'background-image': 'url(' + helper.CONSTANT.IMAGE_BASE_URL + current_store.image_url + ')'}">
        <div class="container">
            <div class="banner_text">
                <span class="shop_name">{{current_store.name}} </span>
                <div class="shop_text">
<!--                    {{current_store.delivery_time}} {{title.min | translate}} - {{current_store.delivery_time_max}} {{title.min | translate}}-->
                </div>

                <div class="shop_tag"><span *ngFor="let i of current_store.famous_products_tags; let last=last;">{{i}}<span *ngIf="!last"> - </span></span></div>
            </div>
            <div>
            </div>
        </div>
    </section>
    <section *ngIf="!current_store.image_url" class="shop_banner" [ngStyle]="{'background-image': 'url(web_images/store_logo.png)'}">
        <div class="container">
            <div class="banner_text">
                <span class="shop_name">{{current_store.name}} </span>
                <div class="shop_text">
<!--                    {{current_store.delivery_time}} {{title.min | translate}} - {{current_store.delivery_time_max}} {{title.min | translate}}-->
                </div>

                <div class="shop_tag"><span *ngFor="let i of current_store.famous_products_tags; let last=last;">{{i}}<span *ngIf="!last"> - </span></span></div>
            </div>
            <div>
            </div>
        </div>
    </section>
    <section class="inner_con padt30">

        <div id="fix_bar">
            <div class="container item_div">
                <div class="tab3">
                    <div class="clr box">
                        <ul>
                            <li *ngFor="let product of filtered_product_item_list; let product_index=index;">
                                <a (click)="redirect(product_index)">
                                    {{product._id.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container item_div">

            <div class="tab3">

                <div class="box row clr">
                    <div class="col_8">
                        <div class="tab_con active" *ngFor="let product of filtered_product_item_list; let product_index=index;" id="tab{{product_index}}">
                            <h5>{{product._id.name}}</h5>
                            <div class="row remove_row_margin">
                                <div class="col_6" *ngFor="let item of product.items; let item_index=index;" (click)="open_item_modal(item, item_index, product_index, $event, content)">
                                    <div class="shop_dt">
                                        <a class="popup-with-form">
                                            <div class="shop_img" *ngIf="item.image_url.length>0">
                                                <img src = "{{item.image_url[0] !== undefined ? helper.CONSTANT.IMAGE_BASE_URL + item.image_url[0] : '' }}" class="item_img" alt="product" />
                                            </div>
                                            <div class="overflow_div">
                                                <h6>{{item.name}}</h6>
                                                <div class="line-clamp"><p style="height: 45px; overflow: hidden;">{{item.details}}</p></div>
                                                <div class="price">
<!--                                                    {{delivery_currency}}-->
                                                    {{(item.total_item_price).toFixed(2)}}
                                                </div>
                                            </div>
                                        </a>

<!--                                        <ng-template #content let-c="close" let-d="dismiss">-->
<!--                                            lol-->
<!--&lt;!&ndash;                                            <button type="button" id="close_item_model" class="close" aria-label="Close" (click)="d('Cross click')">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="big_img" *ngIf="current_item.image_url.length>0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img class="item_modal_img" src = "{{current_item.image_url[0] !== undefined ? helper.CONSTANT.IMAGE_BASE_URL + current_item.image_url[0] : 'web_images/store_logo.png' }}" alt="item1">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-header">&ndash;&gt;-->

<!--&lt;!&ndash;                                                <h5 class="modal-title" id="modal-basic-title">{{current_item.name}}</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="modal-body">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p>{{current_item.details}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--                                        </ng-template>-->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col_4" id="fix_bar1">
<!--                        <div class="shop_ord_dt">-->
<!--                            <h5>{{title.your_basket | translate}}</h5>-->
<!--                            <div style="overflow: auto;height: calc(100vh - 350px);" *ngIf="user_helper.user_cart.cart_data.total_item>0">-->
<!--                                <div *ngFor="let cart_product of user_helper.user_cart.cart_data.cart; let product_index=index;">-->
<!--                                    <div class="ord_in" *ngFor="let cart_item of cart_product.items; let item_index=index;">-->
<!--                                        <div class="ord_top clr" >-->
<!--                                            <div class="col_8" (click)="open_edit_item_modal(content2, cart_item, cart_product, item_index, product_index)">-->
<!--                                                <h6>{{cart_item.item_name}}</h6>-->
<!--                                            </div>-->
<!--                                            <div class="col_4 fr">-->
<!--                                                <div class="p_price">-->
<!--                                                    {{user_helper.router_id.user.currency}}{{cart_item.total_item_and_specification_price}}-->
<!--                                                </div>-->

<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash;<div class="ord_mid">&ndash;&gt;-->
<!--                                        &lt;!&ndash;<p [innerHTML] = "ordlist.ord_des"></p>&ndash;&gt;-->
<!--                                        &lt;!&ndash;</div>&ndash;&gt;-->
<!--                                        <div class="ord_btm clr">-->
<!--                                            <div class="col_8">-->
<!--                                                &lt;!&ndash; <a (click)="open_edit_item_modal(content2, cart_item, cart_product, item_index, product_index)">{{button.modify | translate}}</a> &ndash;&gt;-->
<!--                                                <a (click)="user_helper.remove_from_cart(product_index, item_index)" class="remove">{{button.remove | translate}}</a>-->
<!--                                            </div>-->
<!--                                            <div class="col_4 fr">-->
<!--                                                <div class="value"><button class="minus" (click)="user_helper.decrease_qty(product_index, item_index)"> <img src="../assets/images/minus_c.png" alt="" /> </button> <span>{{cart_item.quantity}}</span> <button class="plus" (click)="user_helper.increase_qty(product_index, item_index)"> <img src="../assets/images/plus_c.png" alt="" /> </button></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="ord_total ord_total_dt clr">-->
<!--                                    <div class="col_6">-->
<!--                                        {{title.total | translate}}-->
<!--                                    </div>-->
<!--                                    <div class="col_6 fr">-->
<!--                                        {{user_helper.router_id.user.currency}}{{user_helper.user_cart.total_cart_amount}}-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="sub_btn" (click)="user_helper.basket()"><button class="btn">{{button.order | translate}} !</button></div>-->
<!--                            </div>-->
<!--                            <div *ngIf="user_helper.user_cart.cart_data.total_item==0">-->
<!--                                <span>{{title.no_article_selected | translate}}</span>-->
<!--                                <div class="sub_btn"><button class="btn" disabled>{{button.order | translate}} !</button></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

